[submodule "ALCompanyProject"]
	path = ALCompanyProject
	url = https://github.com/codeconsult12/ALCompanyProject.git
[submodule "BAI2FileProject"]
	path = BAI2FileProject
	url = https://github.com/codeconsult12/BAI2FileProject.git
[submodule "AL"]
	path = AL
	url = https://github.com/codeconsult12/AL.git
[submodule "ALProject"]
	path = ALProject
	url = https://github.com/codeconsult12/ALProject.git
