[submodule "ALCompanyProject"]
	path = ALCompanyProject
	url = https://github.com/codeconsult12/ALCompanyProject.git
[submodule "BAI2FileProject"]
	path = BAI2FileProject
	url = https://github.com/codeconsult12/BAI2FileProject.git
[submodule "AL"]
	path = AL
	url = https://github.com/codeconsult12/AL.git
[submodule "ALProject"]
	path = ALProject
	url = https://github.com/codeconsult12/ALProject.git
[submodule "23-8-21-LH"]
	path = 23-8-21-LH
	url = https://github.com/codeconsult12/23-8-21-LH.git
[submodule "CustomerCard"]
	path = CustomerCard
	url = https://github.com/codeconsult12/CustomerCard.git
[submodule "LegendHealthProject"]
	path = LegendHealthProject
	url = https://github.com/codeconsult12/LegendHealthProject.git
[submodule "PriceChecker"]
	path = PriceChecker
	url = https://github.com/codeconsult12/PriceChecker.git
[submodule "ReportControlAddin"]
	path = ReportControlAddin
	url = https://github.com/codeconsult12/ReportControlAddin.git
[submodule "TaxSearchApp"]
	path = TaxSearchApp
	url = https://github.com/codeconsult12/TaxSearchApp.git
[submodule "TimeSheetProject"]
	path = TimeSheetProject
	url = https://github.com/codeconsult12/TimeSheetProject.git

[submodule "VendorDimensionProject"]
	path = VendorDimensionProject
	url = https://github.com/codeconsult12/VendorDimensionProject.git
